<button type="button" name="button" (click)="getInfoFromServiceClass1()">Employee1</button>
<ul class="list-group">
  <li *ngFor = "let info of infoRec1" class="list-group-item">{{info}}</li>
</ul>

<button type="button" name="button" (click)="getInfoFromServiceClass2()">Employee2</button>
<ul class="list-group">
  <li *ngFor = "let info of infoRec2" class="list-group-item">{{info}}</li>
</ul>


<button type="button" name="button" (click)="getInfoFromServiceClass3()">Employee3</button>
<ul class="list-group">
  <li *ngFor = "let info3 of infoRec3" class="list-group-item">{{info3}}</li>
</ul>
